<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user/save}" method="post">
            <input type="hidden" th:field="*{userId}"/>
            <div class="col-sm-10">
                <label> Login :
                    <input type="text" class="form-control" name="login" th:field="*{login}"/>
                </label>
                <label> Password :
                    <input type="text" class="form-control" name="password" th:field="*{password}"/>
                </label>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
